<div class="row mx-2 mt-5">
  <div class="col-md-1 ">
    <button class="btn btn-warning ml-3" (click)="toggleMode(mode.draw)">Draw</button>
  </div>
  <div class="col-md-1 ">
    <button class="btn btn-info ml-3" (click)="shareCanvas()">Share</button>
  </div>
  <div class="col-md-1 ">
    <button class="btn btn-danger ml-3" (click)="clear()">Clear</button>
  </div>
  <div class="col-md-2">
    <span><b>Choose Color:</b></span>
    <input class="form-group mx-2" (change)="changeColor($event)" type="color" />
  </div>
  <div class="col-md-2">
    <span class="float-left"><b>Upload Image:</b></span>
    <input id="img" class="form-group mx-2" type="file" accept="image/*" (change)="addImg($event)" />
  </div>
  <div class="col-md-1 ">
    <button class="btn btn-danger ml-3" (click)="logout()">Logout</button>
  </div>
</div>
<div class="p-3">
  <canvas id="canvas"></canvas>
</div>
